@media only screen and (max-width: 600px) {
    .cool-stuff-overlay{
        position: relative;
        width: 100%;
        background-color: #fff;
        border-top: 7px solid #ffc107;
    }
    .cool-stuff-col{
        max-height: unset;
    }
    .section-description{
        width: 95%;
        margin-top: 20px;
    }
    .hero{
        position: relative;
        top: unset;
        left: unset;
        margin-top: 40px;
    }
    .hero .section-description{
        padding: 10px;
    }
    .spotlight{
        background-color: #ffffff;
        min-height: unset;
        justify-content: center;
    }
    .banner{
        margin-bottom: 90px;
    }
    .about{
        padding: 0px 60px;
    }
    .gist-col{
        border-right: none !important;
    }
    .gist-arrow{
        display: none;
    }
    .gist-col-discription{
        visibility: visible !important;
    }
    .cool-stuff-col img{
        height: 200px;
    }
    .right-nav{
        background-color: #ffc107;
    }
}

@media only screen and (min-width: 768px) {
    .cool-stuff-overlay {
        width: 65%;
        margin-right: 40px;
    }
    .hero .font-ceptier-h1 {
        width: 60%;
    }
    .hero {
        top: 30px;
    }
    .hero-image {
        width: 100%;
    }
    .spotlight{
        min-height: 200px;
    }
}

@media only screen and (min-width: 992px) {
    .spotlight{
        min-height: 350px;
    }
}

@media only screen and (min-width: 1200px) {
    .spotlight{
        min-height: 400px;
    }
    .cool-stuff-overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        margin-right: 120px;
        background-color: #fff;
        border-top: 7px solid #ffc107;
        padding: 20px 20px 30px;
    }
    .hero{
        position: absolute;
        top: 80px;
        left: 0px;
    }
    .hero .font-ceptier-h1 {
        width: 100%;

    }
    .hero-image {
        width: 93%;
        height: auto;
    }

}